<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>269264176369-ubqa7c5dvc5a6o67n8b6rcieds9d7hu7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.269264176369-ubqa7c5dvc5a6o67n8b6rcieds9d7hu7</string>
	<key>API_KEY</key>
	<string>AIzaSyAVYxYDckE_O5fBYfn2fdmHRzxMmX-p_FM</string>
	<key>GCM_SENDER_ID</key>
	<string>269264176369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.notbad.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-21d8d</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-21d8d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:269264176369:ios:89fe300fac43f302e6d550</string>
</dict>
</plist>